
<!-- image gallary -->
<div class="conta">


<div class="gallery-wrapper">

    <div class="image-wrapper">
      <a href="#lightbox-image-1">
        <img src="assets/slider_1.jpg" alt="" />

      </a>
    </div>
    <div class="image-wrapper">
      <a href="#lightbox-image-2">
        <img src="assets/slider_2.jpg" alt="" />

      </a>
    </div>
    <div class="image-wrapper">
      <a href="#lightbox-image-3">
        <img src="assets/slider_3.jpg" alt="" />
        <div class="image-title">Hand Ambordary Training</div>
      </a>
    </div>
  </div>



  <div class="gallery-lightboxes">

    <div class="image-lightbox" id="lightbox-image-1">
      <div class="image-lightbox-wrapper">
        <a href="#" class="close"></a>
        <a href="#lightbox-image-3" class="arrow-left"></a>
        <a href="#lightbox-image-2" class="arrow-right"></a>
        <img src="assets/slider_1.jpg" alt="" />
        <div class="image-title">AWARENESS PROGRAMMES</div>
      </div>
    </div>

    <div class="image-lightbox" id="lightbox-image-2">
      <div class="image-lightbox-wrapper">
        <a href="#" class="close"></a>
        <a href="#lightbox-image-1" class="arrow-left"></a>
        <a href="#lightbox-image-3" class="arrow-right"></a>
        <img src="assets/slider_2.jpg" alt="" />
        <div class="image-title">AWARENESS PROGRAMMES</div>
      </div>
</div>

<!-- 2nd  image gallary -->





<div class="gallery-wrapper">

  <div class="image-wrapper">
    <a href="#lightbox-image-1">
      <img src="assets/a (6).jpg" alt="" />
      <div class="image-title">AWARENESS PROGRAMMES</div>
    </a>
  </div>
  <div class="image-wrapper">
    <a href="#lightbox-image-2">
      <img src="assets/a (12).jpg" alt="" />
      <div class="image-title">AWARENESS PROGRAMMES</div>
    </a>
  </div>
  <div class="image-wrapper">
    <a href="#lightbox-image-3">
      <img src="assets/logo.png" alt="" />

    </a>
  </div>
</div>



<div class="gallery-lightboxes">

  <div class="image-lightbox" id="lightbox-image-1">
    <div class="image-lightbox-wrapper">
      <a href="#" class="close"></a>
      <a href="#lightbox-image-3" class="arrow-left"></a>
      <a href="#lightbox-image-2" class="arrow-right"></a>
      <img src="assets/slider_1.jpg" alt="" />
      <div class="image-title">AWARENESS PROGRAMMES</div>
    </div>
  </div>

  <div class="image-lightbox" id="lightbox-image-2">
    <div class="image-lightbox-wrapper">
      <a href="#" class="close"></a>
      <a href="#lightbox-image-1" class="arrow-left"></a>
      <a href="#lightbox-image-3" class="arrow-right"></a>
      <img src="assets/slider_2.jpg" alt="" />
      <div class="image-title">AWARENESS PROGRAMMES</div>
    </div>
</div>
</div>
</div>
</div>
