
<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="wrapper">
        <img [src]="image.src" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>{{ image.title }}</h3>
        <p>{{ image.short }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
  </div>

<!--Bootstrap-->

<h1 style="text-align: center;font-size: xx-large; margin: 15px; padding: 2px; border: 4px solid black; background-color: lightgrey;color: green;"> <b>NORTH EAST RURAL WELFARE SOCIETY </b></h1>
<p style="text-align: center;font-size: large;">NORTH EAST RURAL WELFARE SOCIETY is one of the leading grass root organization of North East India commited towards promoting Women Self-sustaining development initiatives, determiand
   by peoples needs,choise and priorities capitalizing on local skills and resources</p>
