

<div class="cons">
<hr>
<h1 style=" margin: 15px; text-align: center;" >Conatct Us for Reduce Drug Abbuse & Illicite Trafficking</h1>
<hr>
</div>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Drug De-Addiction Center">
    <app-ddc></app-ddc>
  </mat-tab>

  <mat-tab label="CCTV Live">
    <a mat-raised-button color="accent" href="https://dobokadrugdeaddictioncenter.wordpress.com/" target="_blank">Open CCTV Live</a><br><br><hr>
    <a mat-raised-button color="primary" href="https://dobokadrugdeaddictioncenter.wordpress.com/wp-admin/post.php?post=2&action=edit" target="_blank">Center Admin</a>


  </mat-tab>
</mat-tab-group>

<mat-tab-group mat-align-tabs="start">

  <mat-tab label="About Us">
    <app-about></app-about>
  </mat-tab>

<mat-tab label="Contact Us">
  <app-contact></app-contact>
</mat-tab>


</mat-tab-group>
