
img {
  margin:1vh;
  float: left;
  border: 2px solid rgba(86, 236, 224, 0.733);
  width:50vh;
  height:35vh;
  object-fit: fill;

}
.item{

  text-align:center;

  background-color: transparent;
  border: 1px solid transparent;

  margin-bottom: 1px;
  float:left;
}
