<div class="item">
  <img src="assets/Yoga.jpg" alt="Yoga(Drug De-Addiction Centre)">
  <p>  Yoga(Drug De-Addiction Centre
  </p>
</div>

  <div class="item">
  <img src="assets/Indoor.jpg" alt="Indoor">
  <p>Indoor</p>
</div>

  <div class="item">
  <img src="assets/Coun 1.jpg" alt="Councelling">
  <p>Councelling</p>
</div>

  <div class="item">
  <img src="assets/coun 2.jpg" alt="Councelling">
<p>Councelling</p>
</div>


  <div class="item">
  <img src="assets/opd.jpg" alt="OPD(Drug De-Addiction Centre)">
  <p>OPD(Drug De-Addiction Centre)</p>
  </div>

  <div class="item">
  <img src="assets/a p.jpg" alt="Awareness Programme">
<p>Awareness Programme</p>
</div>

  <div class="item">
  <img src="assets/ddc.jpg" alt="Drug De-Addiction Centre" >
<p>Drug De-Addiction Centre</p>
</div>

  <div class="item">
  <img src="assets/ddc 2.jpg" alt="Drug De-Addiction Centre">
<p>Drug De-Addiction Centre</p>
</div>

<!-- mat card -->



